Subject: Prepaid budget added to {{{collective.name}}}

{{> header}}

<p>Hello!</p>

<p>{{currency totalAmount currency=currency}} has been credited to {{collective.name}} by {{addedBy}}. The current balance is {{currency currentBalance currency=currency}}. </p>

<p>When you make a financial contribution as this Organization, you will see this budget balance as a payment option.</p>

{{> footer}}
