Subject: Request to be removed as admin

{{> header}}
{{#if adminFirstName}}
<p>Dear {{adminFirstName}},</p>
{{else}}
<p>Hi!</p>
{{/if}}


<p> {{ sender.name}} - {{ sender.email}} requests to be removed as an Admin from {{collective.name}} </p>

<p>Follow the link to view settings: 
    <a href="https://opencollective.com/{{collective.slug}}/edit/members">settings</a></p>

<p>With ❤️,</p>

<p>– Open Collective Team</p>


{{> footer}}
