Subject: {{{remoteUser.collective.name}}} added you as {{{collective.name}}} {{role}} on Open Collective

{{> header}}

{{> toplogo}}

<p>{{> greeting}}</p>

<p>{{remoteUser.collective.name}} (cced) added you to <a href="https://opencollective.com/{{collective.slug}}">{{collective.name}}</a> as {{role}} on Open Collective.</p>

{{#if isAdmin }}
<p>As an Admin, you can submit and approve <a href="{{config.host.website}}/dashboard/{{collective.slug}}/expenses">expenses</a>, edit <a href="https://opencollective.com/{{collective.slug}}">settings</a>, post <a href="https://opencollective.com/{{collective.slug}}/updates">updates</a>, and create <a href="https://opencollective.com/{{collective.slug}}/events/new">events</a>.</p>
{{else}}
<p>As a team member, you will appear in the <a href="https://opencollective.com/{{collective.slug}}#category-ABOUT">about section</a>. You can also <a href="https://opencollective.com/{{collective.slug}}/expenses">submit expenses</a> and <a href="https://opencollective.com/{{collective.slug}}/events/new">create events</a>.</p>
{{/if}}

<h2>Your profile details</h2>

<table>
  {{#if recipient.collective.previewImage}}
    <tr><th>Avatar:</th><td><img src="{{recipient.collective.previewImage}}" height="64" /></td></tr>
  {{else}}
  <tr><th>Avatar:</th><td>No avatar</td></tr>
  {{/if}}
  <tr><th>Name:</th><td>{{recipient.collective.name}}</td></tr>
  {{#if recipient.collective.description}}
    <tr><th>Description:</th><td>{{recipient.collective.description}}</td></tr>
  {{/if}}
  {{#if recipient.collective.website}}
    <tr><th>Website:</th><td>{{recipient.collective.website}}</td></tr>
  {{/if}}
  {{#if recipient.collective.twitterHandle}}
    <tr><th>Twitter:</th><td>{{recipient.collective.twitterHandle}}</td></tr>
  {{/if}}
</table>

{{> footer}}
