Subject: Expense paid for {{{collective.name}}}: {{currency transaction.netAmountInCollectiveCurrency currency=transaction.currency}} for {{{escapeForSubject transaction.description}}}

{{> header}}

<center>
  <h3> An expense for {{collective.name}} has been paid. </h3>
  <h2><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}"{{currency transaction.netAmountInCollectiveCurrency currency=transaction.currency}}</a></h2>
  <div><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}"{{transaction.description}}</a></div>
  <div>Payee: {{fromCollective.name}}</div>
  {{#if payoutMethod}}
    {{#ifCond payoutMethod.type '===' 'PAYPAL'}}
      <div>Paypal Email: {{payoutMethod.data.email}}</div>
    {{/ifCond}}
  {{/if}}

  <br /><br />
  <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}" class="btn"><div>View Expense</div></a>
</center>

{{> footer}}
