Subject: Action Required: Submit receipt for card expense


{{> header}}

<center>
  <h1>
    Please submit the receipt for {{expense.description}} card expense.
  </h1>
</center>
<p>
A card attached to <a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}}</a> was charged {{currency expense.amount currency=expense.currency}} for {{expense.description}} and we need the responsible admin to input additional information.

For accounting reasons, the Fiscal Host will need a description and receipt. The card may be suspended if receipts are not provided.
</p>

<br />
<br />

<center>
  <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}?edit=1" class="btn blue">
    <div>Submit Receipt</div>
  </a>
</center>

{{> footer}}
