Subject: Welcome to Open Collective!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>We’d love to help you get your {{accountType}} up and running.</p>

{{#if host}}

<p>
  {{#if hostPending}}
  Your {{accountType}} is pending approval for Fiscal Hosting by (<a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>).
  Your Host will hold money on behalf of your {{accountType}}.
  Once approved, your {{accountType}} will be able to receive money.
  {{else}}
  Your {{accountType}} is hosted by <a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>, which will hold money on its behalf.
  {{/if}}
</p>

{{else}}

<p>
  In order to receive money, you need to specify where funds will be held. You can either sign up with a <a href="https://opencollective.com/fiscal-hosting">Fiscal Host</a>, which will take care of things like accounting, banking, and tax reportin for you, or you can be an <a href="https://docs.opencollective.com/help/independent-collectives">Independent Collective</a> and hold money in your own bank account.
</p>

{{/if}}

<p>There are lots of options and features to explore for your {{accountType}}, so<a href="https://opencollective.com/{{collective.slug}}/admin">head to your settings</a> to customize your page and add team members.</p>

<p>Check our <a href="https://docs.opencollective.com/help/collectives/quick-start-guide">quick-start guide</a> to learn more.</p>

<p>Let us know if you need any help!</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}" class="btn blue"><div>Get Started!</div></a>
  </center>
</p>

<p>Feel free to reply to this email or <a href="https://slack.opencollective.com">join us on our Slack</a>.</p>

<p>Best,</p>

<p>The Open Collective Team</p>

{{> footer}}
