Subject: 🎉 Your Collective has been approved!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Your application to join (<a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>) as your Fiscal Host has been approved!</p>

<p>Your Collective can now receive financial contributions, and the money will be held by {{host.name}}.</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}" class="btn blue"><div>Get Started!</div></a>
  </center>
</p>

<p>Let us know if you need any help—we are here to help you succeed!</p>

<p>Please feel free to check our <a href="https://opencollective.com/help">help pages</a>" or to join our <a href="https://slack.opencollective.com">Slack</a>.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
