Subject: New expense on {{{collective.name}}}: {{currency expense.amount currency=expense.currency}} for {{{escapeForSubject expense.description}}}

{{> header}}

<center>
  <h1><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{currency expense.amount currency=expense.currency}}</a></h1>
  <div>
    <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a>
  </div>
  <div>
    Payee: <a href="{{config.host.website}}/{{fromCollective.slug}}"> {{fromCollective.name}} </a>
  </div>
  <div>
    Submitted by: <a href="{{config.host.website}}/{{user.slug}}"> {{user.name}} </a>
  </div>
  {{#if payoutMethod}}
    {{#ifCond payoutMethod.type '===' 'PAYPAL'}}
      <div>Paypal Email: {{payoutMethod.data.email}}</div>
    {{/ifCond}}
  {{/if}}

  <p><font color="#999">{{expense.notes}}</font></p>

  {{> expenseItems items=items}}

  <br />
  <br />
  <br />
  <a class="btn blue" href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">
    <div>View</div>
  </a>

  <br /><br />
</center>

{{> footer}}
