Subject: Expense updated on {{{collective.name}}}: {{currency expense.amount currency=expense.currency}} for {{{escapeForSubject expense.description}}}

{{> header}}

<center>
  <h3>An expense for {{collective.name}} has been updated and requires your approval.</h3>
  <h2><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a></h2>
  <div>
    Payee: <a href="{{config.host.website}}/{{fromCollective.slug}}"> {{fromCollective.name}} </a>
  </div>

  <br />
  <br />
  <br />
  <a class="btn blue" href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">
    <div>View Expense</div>
  </a>

  <br /><br />
</center>

{{> footer}}