Subject: Payment from {{collective.name}} for {{expense.description}} expense failed

{{> header}}

<center>
  <h3>Hi there!</h3>
  <p>
    Just a quick note to let you know that the payment for your expense <b><a
        href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a></b> that
    you filed on {{moment expense.createdAt}} to the <a
      href="{{config.host.website}}/{{collective.slug}}">{{collective.name}} collective</a> failed.
    We already notified the host and there's nothing you need to do right now, unless you're directly contacted by the
    host.
  </p>
  <br /><br />
  <a href="{{config.host.website}}/{{collective.slug}}/expenses" class="btn">
    <div>View All Expenses</div>
  </a>
</center>

{{> footer}}
