Subject: Action Required: Submit receipt for card expense


{{> header}}

<center>
  <h1>
    Please submit the receipt for {{fromCollective.name}} card expense.
  </h1>
</center>
<p>
{{#if user}}
A card attached to {{fromCollective.name}} was charged {{currency expense.amount currency=expense.currency}} and we need the responsible admin to input additional
information.
{{else}}
You need to provide additional info about the card charge of {{currency expense.amount currency=expense.currency}} for {{fromCollective.name}}.
{{/if}}
For accounting reasons, the Fiscal Host will need a description and receipt. The card may be suspended if receipts are not provided.
</p>

<br />
<br />

<center>
  <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}?edit=1" class="btn blue">
    <div>Submit Receipt</div>
  </a>
</center>

{{> footer}}
