Subject: Important: {{{collective.name}}} has been unfrozen by {{{host.name}}}

{{> header}}

<p style="font-size: 17px; padding: 1em;">
  Hi {{collective.name}},
  <br /><br />
  Your fiscal host, <a href="{{config.host.website}}/{{host.slug}}">{{host.name}}</a>, has unfrozen your Collective.
  In other words, they have reactivated any features that were previously limited while frozen.
  <br/><br/>
  Your collective <a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}}</a> (and all its related Projects & Events) may again accept funds, pay out expenses, post updates, edit team members and create new Events or Projects.
  {{#if message}}
    <br /><br />
    <a href="{{config.host.website}}/{{host.slug}}">{{host.name}}</a> included the following message:
  {{/if}}
</p>

{{#if message}}
  <blockquote style="color: #6a737d;font-size: 16px;text-align: left;padding: 0.5em 0.75em;margin: 0 24px;border-left: 3px solid #e4e4e4;white-space: pre-line;font-style: italic;">{{message}}</blockquote>
{{/if}}

{{> footer}}
