Subject: ⚠ {{{collective.name}}}'s {{virtualCard.last4}} card was suspended due to inactivity


{{> header}}

<center>
  <h1>
    {{collective.name}}'s {{virtualCard.name}} ({{virtualCard.last4}}) card is now suspended.
  </h1>
</center>

<p>
  {{virtualCard.name}} ({{virtualCard.last4}}) card has been suspended due to inactivity.
</p>

<div class="info">
  For more information or to restore the card, <a href="{{config.host.website}}/dashboard/{{collective.slug}}">visit your settings</a>.
</div>

{{> footer}}
