Subject: {{#ifCond expense.currency '===' 'USD'}}💵 {{/ifCond}}{{#ifCond expense.currency '===' 'EUR'}}💶 {{/ifCond}}{{#ifCond expense.currency '===' 'GBP'}}💷 {{/ifCond}}{{currency expense.amount currency=expense.currency}} paid from {{{collective.name}}} for {{{escapeForSubject expense.description}}}

{{> header}}

<style>
  th {
    text-align: right;
    padding-right: 10px;
  }
</style>

<center>
  <h3>Hi there!</h3>
  <p>
    Your expense, <b><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{expense.description}}</a></b>, submitted to <a href="{{config.host.website}}/{{collective.slug}}">{{collective.name}}</a> on {{moment expense.createdAt}} has been paid.
    {{#if expense.payoutMethod}}
      {{#ifCond expense.payoutMethod.type '===' 'BANK_ACCOUNT'}}
        The money can take a few days to arrive, depending on the bank.
      {{/ifCond}}
    {{else}}
      The money can take a few days to arrive, depending on the payment processor.
    {{/if}}
  </p>
  <h2><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{currency expense.amount currency=expense.currency}} {{#ifCond transaction.hostCurrency '!==' expense.currency}}({{currency amountInHostCurrency currency=transaction.hostCurrency}}){{/ifCond}}</a></h2>
  <div><a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}">{{transaction.description}}</a></div>
  <table>
    <tr>
      <th>Payee:</th><td>{{fromCollective.name}}</td>
    </tr>
    <tr>
      <th>Payout Method:</th><td>{{expense.payoutMethodLabel}}</td>
    </tr>
  </table>

  <br /><br />

    <center>
      <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}" class="btn blue">
        <div>View Expense</div>
      </a>
    </center>
  </p>

</center>

{{> footer}}
