Subject: {{group.name}}: {{{currency transaction.amount currency=transaction.currency}}} from {{user.name}}

{{> header}}

<center>
  <h1>{{{currency transaction.amount currency=transaction.currency}}}</h1>
  <div>{{transaction.description}}</div>
  <p><font color="#999">{{transaction.comment}}</font></p>

  <br /><br />

</center>

{{> footer}}