Subject: Invitation to join {{{collective.name}}} on Open Collective

{{> header}}

{{#if memberCollective.name}}
<p>Dear {{memberCollective.name}},</p>
{{else}}
<p>Hi,</p>
{{/if}}

<p>
  {{#if skipDefaultAdmin}}
    You were just invited you to the role of {{role}} of {{> linkCollective collective=collective}} on Open Collective.
  {{else}}
    <a href="{{config.host.website}}/{{invitedByUser.collective.slug}}">{{invitedByUser.collective.name}}</a> just invited you to the role of {{role}} of {{> linkCollective collective=collective}} on Open Collective.
  {{/if}}
</p>

<p>
Click on the button below to accept or decline:
</p>

<br />
<a class="btn blue" href="{{config.host.website}}/member-invitations#invitation-{{invitation.id}}">
  <div style="font-size: 15px;">View invitation</div>
</a>
