Subject: More stuff you can do with your Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Have you customized <a href="{{config.host.website}}/dashboard/{{collective.slug}}/tiers">your contribution tiers</a>? Think about how to entice financial contributors by giving them some options!</p>

<p>There are lots of other great features to help you raise and spend money, and build your community.</p>

<ul>
<li><a href="https://docs.opencollective.com/help/collectives/events">Events</a>: A great way to engage, online or offline. Ticket sales go to your Collective budget.</li>
<li><a href="https://docs.opencollective.com/help/expenses-and-getting-paid/expenses">Expenses</a>: The way to spend money! You can <a href="">submit one yourself</a> or <a href="">invite someone to submit an expense</a>.</li>
<li><a href="https://docs.opencollective.com/help/collectives/tiers-goals">Goals</a>: Let people know what you're aiming for and track progress. You can even create <a href="https://docs.opencollective.com/help/collectives/tiers-goals#force-standalone-page">standalone crowdfunding campaign pages</a>.</li>
<li><a href="https://docs.opencollective.com/help/collectives/connectedcollectives">Connected Collectives</a>: Display links to other projects in your ecosystem also using Open Collective, such as groups that are part of the same movement or network.</li>

</ul>

  <center>
    <a href="{{config.host.website}}/dashboard/{{collective.slug}}/tiers" class="btn blue"><div>Edit Tiers</div></a>
  </center>
</p>

<p>Let us know if you need any help! We are here to help you succeed.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
