Subject: New pending financial contribution of {{currency order.totalAmount currency=order.currency}} to {{collective.name}}

<style>
  code {
    display: inline-block;
    border: 1px solid #ccc;
    background: #ddd;
    padding: 1px 3px;
    margin: 0px 1px;
  }
</style>

{{> header}}

{{> toplogo}}

<p>
  {{collective.name}} has a pending financial contribution of {{currency order.totalAmount
  currency=order.currency}} from {{fromCollective.name}}. The payer has been sent instructions
  to transmit the funds to the Fiscal Host, {{host.name}}. Once the funds arrive, the amount
  will be credited to the balance of {{collective.name}}.
</p>

<a class="btn blue" href="{{pendingOrderLink}}">
  <div style="font-size: 15px;">View Details</div>
</a>

{{> footer}}
