Subject: Your {{pledgeAmount}} {{pledgeCurrency}} {{order.type}} to {{{collective.name}}} is pending

<style>
  code {
    display: inline-block;
    border: 1px solid #ccc;
    background: #ddd;
    padding: 1px 3px;
    margin: 0px 1px;
  }
</style>

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Hi {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>Thank you for your crypto contribution to {{collective.name}} in the amount of {{pledgeAmount}} {{pledgeCurrency}}, made on
  {{moment order.createdAt}}.</p>

<p>Your contribution is currently pending. Once you transmit the funds,
   and they have been confirmed as received by <a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>,
   the amount will be credited to {{collective.name}}. </p>

<p><b>Deposit Address:</b> {{depositAddress}}</p>

{{#if order.isGuest}}
<p>
  If you need help with this contribution, please <a href="mailto:support@opencollective.com">contact support</a>.
</p>
{{/if}}

{{#if fromCollective.isIncognito}}
{{else}}
<h2>Help {{collective.name}}!</h2>
<p>Share our link to help us get more contributions: <a
    href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>
</p>
{{/if}}

<p>Thank you again for your support!</p>

<p>
  – {{collective.name}}
</p>

{{> footer}}
