{{#if interval }}
Subject: Thank you for your {{currency order.totalAmount currency=order.currency}}/{{interval}} donation to {{{collective.name}}}
{{else}}
Subject: Thank you for your {{currency order.totalAmount currency=order.currency}} donation to {{{collective.name}}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>{{fromCollective.name}},</p>
{{else}}
<p>Hi,</p>
{{/if}}

{{#if interval}}
  {{#if firstPayment}}
    <p>Thank you for your donation of {{currency order.totalAmount currency=order.currency}} per {{interval}} on {{moment order.createdAt}} to {{collective.name}}.</p>
    {{> charge_date_notice }}
  {{else}}
    <p>Thank you for your continued support of {{{collective.name}}}, with your latest {{interval}}ly donation of {{currency order.totalAmount currency=order.currency}} on {{moment transaction.createdAt}}.</p>
  {{/if}}
{{else}}
<p>Thank you for your donation of {{currency order.totalAmount currency=order.currency}} on {{moment order.createdAt}} to {{collective.name}}.</p>
{{/if}}

<p>Double your impact by submitting a matching gift request through your employer. (Not sure if your employer matches, <a href="https://www.charitynavigator.org/index.cfm?bay=content.view&amp;cpid=1799">check here!</a>)</p>

<p>Women Who Code supports equality and inclusion in the tech industry on a global scale through resources, tools, training, and networking. Your support allows us to amplify this movement to promote, inspire, and advance more diverse women leaders, contributors, and change-makers in tech.</p>

<p>Your donation will go to programs supporting our global community. This helps Women Who Code efficiently run our growing organization, produce innovative programming, and expand our reach to ensure that more women everywhere have the opportunity to pursue and excel in technology careers.</p>

<p>We encourage you to keep growing with Women Who Code through membership, volunteerism, and events! We are glad you have chosen to join us on this journey, and we can't wait to see what the future holds!</p>

{{#if customMessage}}
<p>A message from {{collective.name}}:</p>

<img width="40" height="33" src="{{config.host.website}}/static/images/email/quotation-custom-email.png" />
<div style="color: #494B4D; font-size: 14px; line-height: 18px; padding-left: 10px; margin-top: 10px; border-left: 5px solid #F1F2F3">{{{customMessage}}}</div>
{{/if}}

{{#if transactionPdf}}
<h2>📎 Attachments</h2>
<ul>
  <li>A PDF receipt of your transaction</li>
</ul>
{{/if}}

{{#if order.interval}}
  <p>
    Manage your <a href="{{subscriptionsLink}}">recurring contributions</a>.
    <br/>
  </p>
{{/if}}

<p>In gratitude,</p>

<p>
  The Women Who Code Staff
</p>

{{> footer}}
