Subject: Has {{currency order.totalAmount currency=order.currency}} arrived for {{collective.name}}?

<style>
  code {
    display: inline-block;
    border: 1px solid #ccc;
    background: #ddd;
    padding: 1px 3px;
    margin: 0px 1px;
  }
</style>

{{> header}}

{{> toplogo}}

<p>
  Has {{host.name}} received {{currency order.totalAmount
    currency=order.currency}} from {{fromCollective.name}} for {{collective.name}}?
    The funds will not be credited to the balance of {{collective.name}} until you confirm.
</p>

<p>Click the button below to confirm the funds as received or cancel the pending contribution. If you are still expecting the funds but they have not yet arrived, no action is required.</p>

<a class="btn blue" href="{{viewDetailsLink}}">
  <div style="font-size: 15px;">View Details</div>
</a>

{{> footer}}
