Subject: Thank you for your contribution to {{{collective.name}}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
  {{#if firstPayment }}
    <p>Thank you for contributing {{currency order.totalAmount currency=order.currency}} per {{interval}} to {{collective.name}}.
       Your first payment was made on {{moment order.createdAt}}. As the collective's fiscal sponsor, Open Source Collective acknowledges your donation.</p>
      {{> charge_date_notice}}
  {{else}}
    <p>Thank you for your continued support! Your latest {{interval}}ly contribution of {{currency order.totalAmount currency=order.currency}} was received on {{moment transaction.createdAt}}.
      As the collective's fiscal sponsor, Open Source Collective, a public recognized tax-exempt organization under IRS Section 501(c)(6), acknowledges your donation.</p>
  {{/if}}
{{else}}

<p>Thank you for your contribution of {{currency order.totalAmount currency=order.currency}} on {{moment order.createdAt}}.
  As the collective's fiscal sponsor, Open Source Collective, a public recognized tax-exempt organization under IRS Section 501(c)(6), acknowledges your donation.</p>
{{/if}}

<p>You can follow our future activities and how we will be spending the money on our open collective page:
  <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.
</p>

<h2>Help us raise more money!</h2>
<p>See our activities and transparent budget on
  <a href="https://opencollective.com/{{collective.slug}}/donate">https://opencollective.com/{{collective.slug}}/donate</a>, and share the link to help us spread the word!
</p>

{{#if customMessage}}
<p>A message from {{collective.name}}:</p>

<img width="40" height="33" src="{{config.host.website}}/static/images/email/quotation-custom-email.png" />
<div style="color: #494B4D; font-size: 14px; line-height: 18px; padding-left: 10px; margin-top: 10px; border-left: 5px solid #F1F2F3">{{{customMessage}}}</div>
{{/if}}

{{#if transactionPdf}}
<h2>📎 Attachments</h2>
<ul>
  <li>A PDF receipt of your contribution to {{collective.name}}</li>
  {{#if platformTipPdf}}
    <li>A PDF receipt of your contribution to Open Collective</li>
  {{/if}}
</ul>
{{/if}}

{{#if order.platformTipAmount}}
<h2>Payment Details</h2>

<ul>
  <li>Contribution to {{collective.name}}: {{currency order.netAmount currency=order.currency}}</li>
  <li>Tip for Open Collective: {{currency order.platformTipAmount currency=order.currency}}</li>
  <li>Total amount: {{currency order.chargeAmount currency=order.currency}}</li>
</ul>

<p>Your payment will appear on your statement as {{currency order.chargeAmount currency=order.currency}}</p>
{{/if}}

<p>
  {{#if order.interval}}
    To manage your recurring contributions, <a href="{{subscriptionsLink}}">Sign in</a> and
    go to your profile page.
    <br/>
  {{/if}}
  If you need help, contact <a href="mailto:support@opencollective.com">support</a>.
</p>

<p>Warmly,</p>

<p>
Lauren Gardner - Executive Director<br/>
Open Source Collective<br/>
440 N Barranca Ave #3939<br/>
Covina, CA 91723<br/>
EIN 82-2037583
</p>

{{> footer}}
