{{#if lastAttempt}}
Subject: Payment failed: Contribution cancelled to {{collective.name}}
{{else}}
Subject: Payment failed: Update info to keep supporting {{collective.name}}
{{/if}}

{{#if fromCollective.name}}
Hi {{fromCollective.name}},
{{else}}
Hello,
{{/if}}

{{#if lastAttempt}}

<p>Due payment failure, we have cancelled your recurring contribution of
{{currency order.totalAmount currency=order.currency}} to {{collective.name}}.

We are sad to see you go. You can restart your contribution anytime at https://opencollective.com/{{collective.slug}}.</p>

{{else}}

<p>We are having trouble processing your payment of {{currency order.totalAmount currency=order.currency}} to {{collective.name}}.</p>

<p>Please check your settings and update your payment method if needed, at: {{subscriptionsLink}}. We'll automatically retry in a few days.</p>

<p>If you believe your payment info is correct, please contact your card issuer or bank for more details.</p>


{{/if}}

If you have any questions, reach us at support@opencollective.com.

Warmly,

  – Team Open Collective

{{> footer.text}}

OpenCollective, Inc.
EIN: 47-3896707
340 S LEMON AVE #3717
Walnut CA 91789
USA
