Subject: Contribution cancelled to {{{collective.name}}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Hi {{fromCollective.name}},</p>
{{else}}
<p>Hello</p>
{{/if}}

<p>Your recurring contribution to {{collective.name}} (cced) for {{currency subscription.amount currency=subscription.currency}}/{{subscription.interval}} has been cancelled.</p>

{{#if reason}}
  <p>You provided the following reason for cancelling:</p>
  <blockquote style="color: #6a737d;font-size: 12px; font-style: italic; text-align: left;padding: 0.5em 0.75em;margin: 1em 0;border-left: 3px solid #e4e4e4;white-space: pre-line;">{{reason}}</blockquote>
{{/if}}

<p>Warmly,</p>

<p>
  – {{collective.name}}
</p>

{{> footer}}
