Subject: Contribution cancelled to {{{collective.name}}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Hi {{fromCollective.name}},</p>
{{else}}
<p>Hello</p>
{{/if}}

<p>Your recurring contribution to {{collective.name}} (cced) for {{currency subscription.amount currency=subscription.currency}}/{{subscription.interval}} has been cancelled.</p>

{{#if reason}}
  <p>You provided the following reason for cancelling:</p>
  <p>{{reason}}</p>
{{/if}}

<p>Warmly,</p>

<p>
  – {{collective.name}}
</p>

{{> footer}}
