Subject: Action required: Submit your tax form for {{{accountName}}}

{{> header}}

{{#if recipientName}}
<p>Dear {{recipientName}},</p>
{{else}}
<p>Hi,</p>
{{/if}}

<p>
  In order to comply with the US regulations, we need you to submit your tax form for <strong>{{{accountName}}}</strong>.
  The link below will take you to HelloWorks, the service that we use to collect your tax information securely.
</p>

<div style="text-align: center; margin: 32px 0;">
  <a class="btn blue" href="{{documentLink}}">
    Fill tax form
  </a>
  <a class="btn" href="https://docs.opencollective.com/help/expenses-and-getting-paid/tax-information#for-the-open-source-collective-and-open-collective-foundation">
    Learn more
  </a>
</div>

{{> footer}}
