{{#if interval }}
Subject: Thank you for your {{currency order.totalAmount currency=order.currency}}/{{interval}} contribution to {{collective.name}}
{{else}}
Subject: Thank you for your {{currency order.totalAmount currency=order.currency}} contribution to {{collective.name}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Dear {{fromCollective.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
  {{#if firstPayment }}
    <p>We would like to thank you for your pledge to give {{currency order.totalAmount currency=order.currency}} per {{interval}}.
      Your first payment was received on {{moment order.createdAt}}. Your contribution helps us continue our work.</p>
      {{> charge_date_notice}}
  {{else}}
    <p>We would like to thank you for your continued support. Your latest {{interval}}ly contribution of {{currency order.totalAmount currency=order.currency}} was received on {{moment transaction.createdAt}}.
      Your contribution helps us continue our work.</p>
  {{/if}}
{{else}}

<p>We would like to thank you for your contribution of {{currency order.totalAmount currency=order.currency}} on {{moment order.createdAt}}.
  Your gift will help us continue our work.</p>
{{/if}}

<p>You can follow our future activities and how we will be spending the money on our open collective page:
  <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>.
</p>

<h2>Help us raise more money!</h2>
<p>Share this URL: <a href="https://opencollective.com/{{collective.slug}}">https://opencollective.com/{{collective.slug}}</a>
</p>

{{#if transactionPdf}}
<h2>📎 Attachments</h2>
<ul>
  <li>A PDF receipt of your contribution to {{collective.name}}</li>
  {{#if platformTipPdf}}
    <li>A PDF receipt of your contribution to Open Collective</li>
  {{/if}}
</ul>
{{/if}}

{{#if order.platformTipAmount}}
<h2>Payment Details</h2>

<ul>
  <li>Contribution to {{collective.name}}: {{currency order.netAmount currency=order.currency precision=2}}</li>
  <li>Tip to Open Collective: {{currency order.platformTipAmount currency=order.currency precision=2}}</li>
  <li>Total amount: {{currency order.chargeAmount currency=order.currency precision=2}}</li>
</ul>

<p>Your payment will appear on your statement as {{currency order.chargeAmount currency=order.currency precision=2}}</p>
{{/if}}

{{#if order.isGuest}}
<p>
  {{#if order.interval}}
    To manage your recurring contributions, <a href="{{config.host.website}}/signin?next={{fromCollective.slug}}/recurring-contributions">Sign in</a> and
    go to your profile page.
    <br/>
  {{/if}}
  If you need help with this contribution, please do not hesitate to contact <a href="mailto:support@opencollective.com">support</a>.
</p>
{{/if}}

<p>Warmly,</p>

<p>
  – The {{collective.name}} open collective
</p>

{{> footer}}
