{{#if interval }}
Subject: Merci pour votre contribution de {{currency order.totalAmount currency=order.currency}}/{{interval}} à {{{collective.name}}}
{{else}}
Subject: Merci pour votre contribution de {{currency order.totalAmount currency=order.currency}} à {{{collective.name}}}
{{/if}}

{{> header}}

{{> toplogo}}

{{#if fromCollective.name}}
<p>Merci beaucoup {{fromCollective.name}} !</p>
{{else}}
<p>Hi!</p>
{{/if}}

{{#if interval}}
<p>Nous venons de recevoir votre 1ère contribution récurrente de {{currency order.totalAmount currency=order.currency}} par {{interval}}. Merci énormément pour votre engagement à nous aider dans la durée, votre don nous sera précieux pour faire de LaPrimaire.org un succès !</p>
{{else}}
<p>Merci pour votre contribution de {{currency order.totalAmount currency=order.currency}}.
  Votre contribution nous aidera à continuer nos activités.</p>
{{/if}}
<p>Pour suivre l'utilisation qui est faite de votre argent, nous tenons des comptes transparents que vous pouvez consulter ici : <a href="https://laprimaire.org/transparence/">https://laprimaire.org/transparence/</a> (et très bientôt ici : <a href="https://opencollective.com/laprimaire">https://opencollective.com/laprimaire</a>).</p>

{{#if subscriptionsLink}}
  <p>
    Vous pouvez modifier ou annuler votre contribution quand vous le souhaitez <a href="{{subscriptionsLink}}">ici</a>.
  </p>
{{/if}}

{{#if transactionPdf}}
<h2>📎 Pièces jointes</h2>
<ul>
  <li>Un reçu de votre transaction au format PDF</li>
</ul>
{{/if}}

{{#if order.isGuest}}
<p>
  {{#if order.interval}}
    Pour gérer vos contributions récurrentes, <a href="{{subscriptionsLink}}">connectez-vous</a> et
    rendez-vous sur votre page de profil.
    <br/>
  {{/if}}
  Si vous avez besoin d'aide avec cette contribution, n'hésitez pas à contacter <a href="mailto:support@opencollective.com">le support</a>.
</p>
{{/if}}

<p>Encore merci, votre preuve de confiance nous encourage et nous motive pour ne rien lacher et aller jusqu'au bout !</p>

<p>
  – L'équipe {{collective.name}}
</p>

{{> footer}}
