Subject: {{ order.quantity }} {{pluralize "ticket" n=order.quantity}} confirmed for {{ event.name }}

{{> header}}
{{> eventsnippet}}

{{> toplogo}}

<p>{{> greeting}}</p>

<p>You have booked {{ order.quantity }} {{pluralize "ticket" n=order.quantity}} to {{ event.name }}{{#if order.totalAmount}} for a total of {{currency order.totalAmount currency=order.currency}}{{/if}}.</p>

<p>We are excited that you'll be joining us! <a href="{{config.host.website}}/{{collective.slug}}/events/{{event.slug}}">{{ event.name }}</a> will take place {{#if event.endsAt}} between {{ moment event.startsAt timezone=event.timezone format="MMMM Do YYYY h:mm a" }} and {{ moment event.endsAt timezone=event.timezone format="MMMM Do YYYY h:mm a" }} (UTC{{moment-timezone event.timezone}}) {{else}} on {{ moment event.startsAt timezone=event.timezone format="MMMM Do YYYY" }} at {{ moment event.startsAt timezone=event.timezone format="h:mm a" }} (UTC{{moment-timezone event.timezone}}) {{/if}}.

{{#if customMessage}}
<p>A message from {{collective.name}}:</p>

<img width="40" height="33" src="{{config.host.website}}/static/images/email/quotation-custom-email.png" />
<div style="color: #494B4D; font-size: 14px; line-height: 18px; padding-left: 10px; margin-top: 10px; border-left: 5px solid #F1F2F3">{{{customMessage}}}</div>
{{/if}}

{{#if event.location.address}}
  {{#if isOffline }}
    The location is {{ event.location.name }} ({{event.location.address}}).
  {{else}}
    Join us at {{event.location.address}}.
  {{/if}}
{{/if}}
</p>

{{#if event.data.privateInstructions}}
<h2>Private Instructions</h2>
<table style="width: 100%; margin-bottom: 30px;">
  <tbody>
    <tr>
      <td style="border: 1px solid #e8edee; border-radius: 6px; padding: 2em 1em;">
        <blockquote style="color: #798088;font-size: 13px;text-align: left;padding: 0px 1em;margin: 0em 0;white-space: pre-line;">{{event.data.privateInstructions}}</blockquote>
      </td>
    </tr>
  </tbody>
</table>
{{/if}}

{{#if transactionPdf}}
<h2>📎 Attachments</h2>
<ul>
  <li>A PDF receipt of your contribution to {{collective.name}}</li>
  {{#if platformTipPdf}}
    <li>A PDF receipt of your contribution to Open Collective</li>
  {{/if}}
</ul>
{{/if}}

{{#if order.platformTipAmount}}
<h2>Payment Details</h2>

<ul>
  <li>Contribution to {{collective.name}}: {{currency order.netAmount currency=order.currency}}</li>
  <li>Tip to Open Collective: {{currency order.platformTipAmount currency=order.currency}}</li>
  <li>Total Amount: {{currency order.chargeAmount currency=order.currency}}</li>
</ul>

<p>Your payment will appear on your statement as {{currency order.chargeAmount currency=order.currency}}</p>
{{/if}}

<p>Warmly,</p>

<p>
  – The {{event.name}} organizers
</p>

{{> eventdata}}

{{> footer}}
