Subject: Confirm your email {{user.emailWaitingForValidation}} on Open Collective

{{> header}}

<h1>
  Confirm your new email address
</h1>

<br />
<br />
<p>
  Hi,
  <br/><br/>
  It looks like you changed your email address on Open Collective.
  <br/><br/>
  We need to verify that <strong>{{user.emailWaitingForValidation}}</strong> is correct by clicking this button:
</p>
<br />
<center>
  <a href="{{config.host.website}}/confirm/email/{{user.emailConfirmationToken}}" class="btn blue"
    style="padding: 1em 2em;">
    <div style="font-size: 17px;">Confirm Email</div>
  </a>
</center>
<br />
<br />
<p>
  Please note that this will replace your old Open Collective account
  email address, ({{user.email}}). You will need to log in with your new
  address, {{user.emailWaitingForValidation}}, from now on.
</p>


{{> footer}}
