Subject: {{#ifCond currency '===' 'USD'}}💵 {{/ifCond}}{{#ifCond currency '===' 'EUR'}}💶 {{/ifCond}}{{#ifCond currency '===' 'GBP'}}💷 {{/ifCond}}You've got {{currency initialBalance currency=currency}} from {{{emitter.name}}} to spend on Open Collective

{{> header}}


<table>
  <tr>
   <td>
     <center>
      <h1>{{#ifCond currency '===' 'USD'}}💵{{/ifCond}}{{#ifCond currency '===' 'EUR'}}💶{{/ifCond}}{{#ifCond currency '===' 'GBP'}}💷{{/ifCond}}</h1>
      <p>You have a {{currency initialBalance currency=currency}} gift card from <a href="{{config.host.website}}/{{emitter.slug}}">{{emitter.name}}</a>. It has been added to your Open Collective account. 🎉</p>
      <p>&nbsp;</p>
     </center>
   </td>
   <td></td>
   <td valign="top">
     {{> collectivecard emitter}}
   </td>
  </tr>
</table>

<p>Click below to log in, then choose the Collectives(s) you want to support. At checkout, select <b>{{name}}</b> from the list of available payment methods.</p>

<center>
  <a href="{{{loginLink}}}" class="btn blue"><div>Login</div></a>
</center>

<p>You can contribute the full amount to one Collective or divide it between several. You can also start recurring contributions, and we'll let you know when the gift card balance runs out.</p>

<p><strong>Your gift card expires on {{moment expiryDate}}</strong>.</p>


{{> footer}}
