Subject: Virtual Card Purchase

{{> header}}

<center>
  <h1>
    A card attached to {{collective.name}} was charged {{currency amount currency=currency
  precision=2}}.
  </h1>
</center>
<p>
A card attached to {{collective.name}} was charged {{currency amount currency=currency
  precision=2}}. The responsible admin {{responsibleAdmin.name}} will be asked to submit additional
information. For accounting reasons, the Fiscal Host will need a description and receipt. Please <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}?edit=1">upload a receipt</a> if you already have one. The card may be suspended if receipts are not provided.
</p>

<br />
<br />

<center>
  <a href="{{config.host.website}}/{{collective.slug}}/expenses/{{expense.id}}?edit=1" class="btn blue">
    <div>Submit Receipt</div>
  </a>
</center>

{{> footer}}